h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.25em;
}

.logo-header {
    background-color: rgb(4, 76, 4);
    padding-bottom: 1em;;
}

.banner-box {
    display: flex;
    align-items: center;
    justify-content: left;
    background-position: center;
    background-size: cover;
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
    url("/images/banner-1.jpg");
    height: 15rem;
    margin: auto;
    padding: auto;
}

.banner-text {
    color: white;
    margin: auto;
}
.banner-title {
    font-size: 4em;
    text-shadow: 4px 4px 4px #0d2500;
}
.banner-subtitle {
    font-size: 2.5em;
    text-shadow: 2px 2px 1px #0d2500;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    width: 5rem;
}

nav {
    padding: 0;
    margin: 0;
    background-color: rgb(4, 107, 4)
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    background-color: rgb(4, 107, 4);
    display: inline-block;
    padding: 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    background-color: rgb(91, 134, 75);
}

section {
    display: flex;
}

article {
    flex: 1;
}

footer {
    display: flex;
    background-color: rgb(156, 207, 158);
}

footer div {
    flex: 1;
}

footer img {
    height: 2em;
    width: 2em;
}

#foot-img-div {
    padding-left: 0.5em;
}